* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2a2a2a;
}
header > .container-fluid {
    padding: 0;
}
header .bg-dark {
    background-color: black !important;
}
.navbar-dark .navbar-brand {
    color: red;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}
main {
    margin-top: 100px;
}
main > #movie-container {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
#movie-container > .card {
    min-height: 100px;
    margin: 5px 5px;
}
